{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card custom-card">
                <div class="card-body">

                    <div id="chart" style="width:100%;height: 490px; max-width: 620px;"></div>

                    <br>
                </div>
            </div>
        </div>


        <div class="col-md-6 grid-margin stretch-card" id="ocr-result">
            <div class="card custom-card" style="width:100%;height: 550px;">

                <div class="card-header">
                    <h3 class="panel-title">最近签到记录</h3>

                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th> 签到照片</th>
                                <th> 课程活动</th>
                                <th> 班级</th>
                                <th> 时间</th>
                                <th> 状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in check_log %}
                                <tr>

                                    <td class="py-1">
                                        {% if log.image %}
                                            <img src="/static/{{ log.image }}" style="width: 50px;height: auto"/>
                                        {% else %}
                                            <p>暂无照片</p>
                                        {% endif %}
                                    </td>
                                    <td> {{ log.course.name }}</td>
                                    <td> {{ log.course.classes.name }}</td>
                                    <td>
                                        {{ log.add_time }}
                                    </td>
                                    <td> {{ log.status }}</td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
{% block script %}
    <script type="application/javascript" src="/static/js/echarts.min.js"></script>

    <script>
        /* monochrome pie chart */
        var option = {
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center'
            },
            series: [
                {
                    name: '最近签到记录',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 40,
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: []
                }
            ]
        };
        var chart = echarts.init(document.getElementById('chart'));
        $.ajax({
            url: '/aggs_data',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                option.series[0].data = data.data;
                chart.setOption(option);

            }
        })


    </script>
{% endblock %}