{% extends "layout.html" %}
{% block content %}

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card custom-card">

            <div class="card-header">
                <h3 class="panel-title">签到记录</h3>

            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> 签到照片</th>
                            <th> 课程活动</th>
                            <th> 时间</th>
                            <th> 状态</th>

                            <th> 操作</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                            <tr>
                                <td class="py-1">
                                    {% if log.image %}
                                        <img src="/static{{ log.image }}" style="width: 50px;height: auto"/>
                                    {% else %}
                                        <p>暂无照片</p>
                                    {% endif %}
                                </td>
                                <td> {{ log.course.name }}</td>
                                <td>
                                    {{ log.add_time  }}
                                </td>
                                <td> {{ log.status }}</td>

                                <td class="py-1">
                                    {% if log.status == "正常签到" %}
                                        <button type="button" class="btn btn-outline-danger btn-sm delete-log"
                                                data-id="{{ log.id }}">删除
                                        </button>
                                    {% else %}
                                        {% if  not log.has_apps  and user.type == "user" %}

                                            <button type="button" class="btn btn-outline-danger btn-sm add-apps"
                                                    data-id="{{ log.id }}" data-name="{{ log.course.name }}" data-course_id="{{ log.course.id }}">补签申请
                                            </button>
                                        {% endif %}


                                    {% endif %}
                                </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example" style="margin-top: 10px ">
                        <ul class="pagination">


                            {% if page <= 0 %}
                                <li class="page-item  disabled">
                                    <a class="page-link disabled">上一页</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="/ocr_log?page={{ page|add:-1 }}" class="page-link">上一页</a>
                                </li>
                            {% endif %}

                            {% for p in page_list %}

                                {% if p == page %}
                                    <li class="page-item  active">
                                        <a class="page-link">{{ p|add:1 }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="/ocr_log?page={{ p }}">{{ p|add:1 }}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}


                            {% if page_count >= count %}
                                <li class="page-item  disabled">
                                    <a class="page-link disabled">下一页</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="/ocr_log?page={{ page|add:1 }}" class="page-link">下一页</a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </div>




    <div class="modal fade" id="myModal2">
        <div class="modal-dialog ">
            <div class="modal-content" style="width: 100%;height: 100%">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">审批申请</h4>

                </div>

                <!-- 模态框主体 -->
                <div class="modal-body" style=" text-align: center;">
                    <form action="javascript:void(0)" class="form">
                        <input type="text" name="name" class="form-control" disabled id="add-app-name"
                               placeholder="活动名称" value="">
                        <br> <input type="hidden" name="id" id="add-apps-id" value="">

                        <select name="option" id="add-apps-option" class="form-control">
                            <option value="补签">补签</option>
                            <option value="请假">请假</option>
                        </select>
                        <br>
                        <textarea class="form-control" name="data" id="add-apps-data" cols="30" rows="10"
                                  placeholder="请输入申请理由"></textarea>

                    </form>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit-add-apps">申请审核</button>
                    <button type="button" class="btn btn-danger" id="cancel-add-apps">取消</button>

                </div>

            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>


{% endblock %}

{% block script %}
    <script>
        $("#sidebar-nav > div > div.sidebar-scroll > nav > ul > li:nth-child(2) > a").addClass("active")
        $(".delete-log").click(function () {
            var id = $(this).data("id");
            $.ajax({
                url: "/ocr_log",
                type: "delete",
                dataType: "json",
                data: JSON.stringify({
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    id: id
                }),
                success: function (data) {
                    if (data.code === 200) {
                        message_box("", data.msg, "success");
                    }
                }
            })
        })


        $(".add-apps").click(function () {
            var id = $(this).data("course_id");
            var name = $(this).data("name");
            $("#add-apps-id").val(id);
            $("#add-app-name").val(name);
            $("#myModal2").modal("show")
        })
        $("#cancel-add-apps").click(function () {
            $("#myModal2").modal("hide")
        })
        $("#submit-add-apps").click(function () {


            var id = $("#add-apps-id").val();
            $.ajax({
                url: "/apps",
                type: "post",
                dataType: "json",
                data: {
                    course_id: id,
                    option: $("#add-apps-option").val(),
                    data: $("#add-apps-data").val(),
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {
                    if (data.code === 200) {
                        message_box("", data.msg, "success");
                        setTimeout(function () {
                            history.go(0)
                        }, 1000)
                    }
                }
            })
        })

    </script>
{% endblock %}