{% extends "login_base.html" %}


{% block body %}
    <style>
        body {
            background-color: var(--default-body-bg-color) !important;
        }

        .custom-card {
            border-radius: .5rem;
            border: 0;
            background-color: var(--custom-white) !important;
            box-shadow: 0 .125rem 0 rgba(10, 10, 10, .04);
            position: relative;
            -webkit-margin-after: 1.5rem;
            margin-block-end: 1.5rem;
            width: 100%;
        }
    </style>
    <div class="container">
        <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">

                <div class="card custom-card">
                    <div class="card-body p-5"><p class="h5 fw-semibold mb-2 text-center">注册</p>
                        <p class="mb-4 text-muted op-7 fw-normal text-center">{{ project_name }}</p>
                        <div class="row gy-3">
                            <div class="col-xl-12"><input type="text" class="form-control form-control-lg"
                                                          name="username"
                                                          id="username" placeholder="请输入用户名"></div>
                            <div class="col-xl-12 mb-2">
                                <div class="input-group"><input type="password" class="form-control form-control-lg"
                                                                name="password"
                                                                id="password" placeholder="请输入密码">

                                </div>

                            </div>
                            <div class="col-xl-12 mb-2">
                                <div class="input-group"><input type="password" class="form-control form-control-lg"
                                                                name="password2"
                                                                id="password2" placeholder="请确认密码">

                                </div>

                            </div>
                            <div class="col-xl-12 mb-2">
                                <div class="input-group">
                                    <select class="form-select" name="user-type" aria-label="Default select example">
                                        <option value="user">学生</option>
                                        <option value="teacher">教师</option>

                                    </select>
                                </div>

                            </div>

                            <div class="col-xl-12 mb-2">
                                <div class="input-group">
                                    <select class="form-select" name="classes" aria-label="Default select example">
                                        {% for class in classes %}
                                            <option value="{{ class.name }}">{{ class.name }}</option>
                                        {% endfor %}

                                    </select>
                                </div>

                            </div>

                            <div class="col-xl-12 d-grid mt-2"><a href="#" id="submit"
                                                                  class="btn btn-lg btn-primary">注册</a></div>
                        </div>
                        <div class="text-center"><p class="fs-12 text-muted mt-3">已经有账号? <a
                                href="/login" class="text-primary">登录</a></p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}




{% block script %}
    <script>
        (function ($) {
            'use strict';
            $.fn.andSelf = function () {
                return this.addBack.apply(this, arguments);
            }
            $(function () {
                $.fn.andSelf = function () {
                    return this.addBack.apply(this, arguments);
                }
                $("#submit").click(function (e) {
                    var username = $("input[name='username']").val();
                    var password = $("input[name='password']").val();
                    var password2 = $("input[name='password2']").val();
                    var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
                    var user_type = $("select[name='user-type']").val();
                    var classes = $("select[name='classes']").val();


                    if (username == "" || password == "" || password2 == "") {
                        // e.preventDefault();
                        var message = "用户名或密码不能为空";
                        message_box("错误", message, "danger");

                        return;
                    }
                    if (password != password2) {
                        message_box("错误", "两次密码不一致", "danger")

                        return;
                    }

                    $.ajax({
                        url: "/register",
                        type: "post",
                        dataType: "json",
                        data: {
                            username: username,
                            password: password,
                            password2: password2,
                            csrfmiddlewaretoken: csrfmiddlewaretoken,
                            user_type: user_type,
                            class_name: classes
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                window.location.href = "/";
                            } else {
                                message_box("错误", data.message, "danger")

                            }
                        }
                    })
                })


            })
        })(jQuery);
    </script>
{% endblock %}



