<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title> {{ title }} --- {{ project_name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="keywords"
          content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">
    <!-- Favicon -->
    <link rel="icon" href="/static/images/brand-logos/favicon.ico" type="image/x-icon"> <!-- Choices JS -->
    <script src="/static/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="chrome-extension://bpoadfkcbjbfhfodiogcnhhhpibjhbnh/image/inject.js" id="imt-image-inject"></script>
    <!-- Main Theme Js -->
    <script src="/static/js/main.js"></script> <!-- Bootstrap Css -->
    <link id="style" href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet"> <!-- Style Css -->
    <link href="/static/css/styles.min.css" rel="stylesheet"> <!-- Icons Css -->
    <link href="/static/css/icons.css" rel="stylesheet"> <!-- Node Waves Css -->
    <link href="/static/libs/node-waves/waves.min.css" rel="stylesheet"> <!-- Simplebar Css -->
    <link href="/static/libs/simplebar/simplebar.min.css" rel="stylesheet"> <!-- Color Picker Css -->
    <link rel="stylesheet" href="/static/libs/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="/static/libs/@simonwep/pickr/themes/nano.min.css"> <!-- Choices Css -->
    <link rel="stylesheet" href="/static/libs/choices.js/public/assets/styles/choices.min.css">

    <noscript><p>To display this page you need a browser that supports JavaScript.</p></noscript>




    {% block head %}
    {% endblock %}
</head>


<body monica-id="ofpnmcalabcbjgholdjcjblkibolbppb">
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="solid-primaryToast" class="toast colored-toast bg-primary text-fixed-white" role="alert"
         style="z-index: 9999"
         aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-primary text-fixed-white">
            <strong class="me-auto" id="message_title">Ynex</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="message"> Your,toast message here.</div>
    </div>
</div>
{% block body %}
{% endblock %}

<script src="/static/js/jquery-3.2.1.min.js"></script>

<script src="/static/libs/@popperjs/core/umd/popper.min.js"></script> <!-- Bootstrap JS -->
<script src="/static/libs/bootstrap/js/bootstrap.bundle.min.js"></script> <!-- Defaultmenu JS -->
<script src="/static/js/defaultmenu.min.js"></script> <!-- Node Waves JS-->
<script src="/static/libs/node-waves/waves.min.js"></script> <!-- Sticky JS -->
<script src="/static/js/sticky.js"></script> <!-- Simplebar JS -->
<script src="/static/libs/simplebar/simplebar.min.js"></script>
<script src="/static/js/simplebar.js"></script> <!-- Color Picker JS -->
<script src="/static/libs/@simonwep/pickr/pickr.es5.min.js"></script> <!-- JSVector Maps JS -->
<script src="/static/libs/jsvectormap/js/jsvectormap.min.js"></script> <!-- JSVector Maps MapsJS -->
<script src="/static/libs/jsvectormap/maps/world-merc.js"></script> <!-- Apex Charts JS -->
<script src="/static/libs/apexcharts/apexcharts.min.js"></script> <!-- Chartjs Chart JS -->
{#<script src="/static/libs/chart.js/chart.min.js"></script> <!-- CRM-Dashboard -->#}
{#<script src="/static/js/crm-dashboard.js"></script> <!-- Custom-Switcher JS -->#}
{#<script src="/static/js/custom-switcher.min.js"></script> <!-- Custom JS -->#}
{#<script src="/static/js/custom.js"></script>#}

<script>
    function message_box(title, message, bg_color = "primary") {
        $('#message_title').html(title)
        $('#message').html(message)
        if (bg_color === "primary") {
            bg_color = "bg-primary"
        } else if (bg_color === "success") {
            bg_color = "bg-success"
        } else if (bg_color === "danger") {
            bg_color = "bg-danger"
        } else if (bg_color === "warning") {
            bg_color = "bg-warning"
        } else if (bg_color === "info") {
            bg_color = "bg-info"
        } else if (bg_color === "dark") {
            bg_color = "bg-dark"
        } else if (bg_color === "light") {
            bg_color = "bg-light"
        }

        $('#solid-primaryToast').removeClass('bg-primary')
        $('#solid-primaryToast').addClass(bg_color)
        $("#solid-primaryToast>.toast-header").removeClass('bg-primary')
        $('#solid-primaryToast>.toast-header').addClass(bg_color)


        $('#solid-primaryToast').toast('show')
    }


</script>
{% block script %}
{% endblock %}




<!-- endinject -->
<!--    &lt;!&ndash; Custom js for this page &ndash;&gt;-->

<!-- End custom js for this page -->
</body>
</html>