{% extends "layout.html" %}
{% block content %}
    <div class="row">

        <div class="grid-margin stretch-card col-md-6">
            <div class="card custom-card">
                <div class="card-body">

                    <h4 class="panel-title mb-1">修改密码</h4>
                    <form class="forms-sample" id="changepasswd_form" method="post" action="javascript:void(0)">
                        <div class="form-group">

                            <input type="password" class="form-control" name="password" placeholder="原始密码">
                        </div>
                        <br>
                        <div class="form-group">
                            {% csrf_token %}

                            <input type="password" class="form-control" name="new-password"
                                   placeholder="新密码">
                        </div>
                        <br>
                        <div class="form-group">

                            <input type="password" class="form-control" name="new-password2"
                                   placeholder="确认新密码">
                        </div>
                        <br>

                        <button type="submit" class="btn btn-primary mr-2" id="change-pw">提交修改</button>
                        <button class="btn btn-dark" type="reset">取消</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="grid-margin stretch-card col-md-6">
            <div class="card custom-card">
                <div class="card-body">

                    <h4 class="panel-title mb-1">修改头像</h4>
                    <form class="forms-sample" id="changeavatar_form" method="post" action="javascript:void(0)">

                        <div class="form-group">

                            <input type="file" class="form-control" name="avatar" id="avatar"
                                   placeholder="选择图片">
                            <input type="hidden" value="" id="input-image">
                        </div>
                        <br>
                        <img src="/static/{{ request.user.image }}"
                             style="width: 100px;height: 100px;border: 1px solid #ccc" alt="" id="avatar_img">
                        <br>
                        <br>

                        <button type="submit" class="btn btn-primary mr-2 disabled" id="change_avatar">提交修改</button>
                        <button class="btn btn-dark" type="reset">取消</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block script %}


    <script type="text/javascript">
        $(function () {


            $("#avatar").change(function () {
                if ($(this).val() != "") {
                }
                if ($(this).val().split(".").pop() == "jpg" || $(this).val().split(".").pop() == "png" || $(this).val().split(".").pop() == "jpeg") {
                    var file = this.files[0];
                    var fr = new FileReader();

                    fr.onload = function (e) {
                        var result = e.target.result;
                        $("#avatar_img").attr("src", result);
                        $("#avatar_img").show();
                        $("#change_avatar").removeClass("disabled");
                        $("#input-image").val(result)
                    }
                    fr.readAsDataURL(file);  // 将文件读取为Data URL
                } else {
                    message_box('警告', "请上传jpg、png、jpeg格式的图片", "warning");

                    return;
                }

            })
            $("#change_avatar").click(function () {
                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
                var image = $("#input-image").val();
                $.ajax({
                    url: "/changeavatar",
                    type: "post",
                    data: {
                        image: image,
                        csrfmiddlewaretoken: csrfmiddlewaretoken
                    }, dataType: "json",
                    success: function (data) {
                        if (data.code === 200) {
                            message_box("提示", data.msg, "success")
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000)


                        } else {
                            message_box("警告", data.msg, "warning")
                        }
                    }
                })


            })


            $("#change-pw").click(function () {
                var password = $("input[name='password']").val();
                var new_password = $("input[name='new-password']").val();
                var new_password2 = $("input[name='new-password2']").val();
                var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

                if (password == "" || new_password == "" || new_password2 == "") {

                    noty({
                        text: "输入密码不能为空",
                        layout: 'topRight',
                        type: 'alert-danger'
                    });
                    return false;
                } else if (new_password != new_password2) {
                    noty({
                        text: "两次密码不一致",
                        layout: 'topRight',
                        type: 'alert-danger'
                    });
                    return false;
                } else {
                    $.ajax({
                        url: "/changepwd",
                        type: "post",
                        data: {
                            password: password,
                            new_password: new_password,
                            csrfmiddlewaretoken: csrfmiddlewaretoken,
                            new_password2: new_password2
                        }, dataType: "json",
                        success: function (data) {
                            if (data.code == 200) {
                                noty({
                                    text: data.msg,
                                    layout: 'topRight',
                                    type: 'alert-info'
                                });
                                $("#changepasswd_form").trigger("reset");
                                window.location.reload();

                            } else {
                                noty({
                                    text: data.msg,
                                    layout: 'topRight',
                                    type: 'alert-danger'
                                });
                            }
                        }
                    })
                }


            })


        });


    </script>
{% endblock %}