{% extends "layout.html" %}
{% block content %}

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card custom-card">

            <div class="card-header  justify-content-between">
                <h3 class="card-title">班级管理</h3>

                <div class="prism-toggle">
                    <button class="btn btn-sm btn-primary-light" data-target="#myModal"
                            data-toggle="modal">添加新班级
                    </button>
                </div>

            </div>


            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> 班级名称</th>
                            <th> 创建时间</th>


                            <th> 操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cls in classess %}
                            <tr>
                                <td class="py-1">
                                    <p>{{ cls.name }}</p>
                                </td>

                                <td> {{ cls.add_time  }}</td>

                                <td>
                                    <button class="btn  btn-danger-light delete-cls" data-id="{{ cls.id }}">删除
                                    </button>
                                      <button class="btn  btn-primary-light show-cls" data-id="{{ cls.id }}">查看签到统计
                                    </button>

                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example" style="margin-top: 10px ">
                        <ul class="pagination">


                            {% if page <= 0 %}
                                <li class="page-item  disabled">
                                    <a class="page-link disabled" disabled="">上一页</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="/classes?page={{ page|add:-1 }}" class="page-link">上一页</a>
                                </li>
                            {% endif %}

                            {% for p in page_list %}

                                {% if p == page %}
                                    <li class="page-item  active">
                                        <a class="page-link">{{ p|add:1 }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="/classes?page={{ p }}">{{ p|add:1 }}</a>
                                    </li>
                                {% endif %}

                            {% endfor %}


                            {% if page_count >= count %}
                                <li class="page-item  disabled">
                                    <a class="page-link disabled">下一页</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="/classes?page={{ page|add:1 }}" class="page-link">下一页</a>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </div>







    <!-- 模态框 -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog ">
            <div class="modal-content" style="width: 100%;height: 100%">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">创建班级</h4>

                </div>

                <!-- 模态框主体 -->
                <div class="modal-body" style=" text-align: center;">
                    <form action="javascript:void(0)" class="form">
                        <input type="text" name="name" class="form-control" placeholder="活动名称">
                        <br>


                    </form>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit">创建</button>
                    <button type="button" class="btn btn-danger" id="cancel">取消</button>

                </div>

            </div>
        </div>
    </div>













{% endblock %}

{% block script %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
        $("#submit").click(function () {
            $.ajax({
                url: "/classes",
                type: "post",
                dataType: "json",
                data: {
                    name: $("input[name='name']").val(),
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                },
                success: function (data) {
                    if (data.code === 200) {
                        message_box("", data.msg, "success");
                        setTimeout(function () {
                            history.go(0)
                        }, 1000)
                    }
                }
            })

        })
        $(".delete-cls").click(function () {
            var id = $(this).data("id");
            $.ajax({
                url: "/classes",
                type: "delete",
                dataType: "json",
                data: JSON.stringify({
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    id: id
                }),
                success: function (data) {
                    if (data.code === 200) {
                        message_box("", data.msg, "success");
                        setTimeout(function () {
                            history.go(0)
                        }, 1000)
                    }
                }
            })
        })
        $("#cancel").click(function () {
            $("#myModal").modal("hide")
        })
        $(".show-cls").click(function () {
            var id = $(this).data("id");
            window.open("/?classes_id=" + id)

        })
    </script>
{% endblock %}